<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Project{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{% url 'posts:home' %}">Home</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Log Out</a>
            <a href="{% url 'posts:create_post' %}">Create post</a>
        {% else %}
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
